.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-1 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
  margin: 20px 20px;
}

.container-1 div{
  border: 0.5px black solid;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
}

.box-1{
  grid-row:span 4 ;
  border-radius: 20px;
  background-color: rgb(234, 231, 231);
}

.box-2{
  grid-row: span 4;
  border-radius: 20px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  margin: 1rem;
  border-radius: .5rem;
  border: 0.5px black solid;
}

.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover{
  background-color: #555;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: grey;
  border-radius: 10px;
}

.bg-image {
  background-color: rgb(234, 231, 231);
  padding: 20em;
  background-repeat: no-repeat;
  border: 0.5px, black solid;
  background-position: 10%;
  margin: 20px;
}
/* for the authors component */
.container-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  background-color: rgb(234, 234, 234);
  margin: 20px;
  grid-gap: 5px;
}

.container-2 div{
  padding: 5px;
  margin: 5px;
  border: 0.5px black solid;
  border-radius: 20px;
  background-color: white;
}
.container-2 div:hover{
  background-color: rgb(206, 237, 206);
  border: none;
}


